<footer>
    <nav>
        <ul>
            <li class="item__list-footer"><a class="link__footer" target="_blank" href="#"> </a> articles</li>
            <li class="item__list-footer"><a class="link__footer" target="_blank" href="#">books</a> </li>
            <li class="item__list-footer"><a class="link__footer" target="_blank" href="#"> events</a> </li>
            <li class="item__list-footer"><a class="link__footer" target="_blank" href="#"> reasons</a> </li>
            <li class="item__list-footer"><a class="link__footer" target="_blank" href="#"> tips</a> </li>
        </ul>
        <ul>
            <li class="item__list-footer"><a class="link__footer"target="_blank" href="#">twitter</a> </li>
            <li class="item__list-footer"><a class="link__footer"target="_blank" href="#">instagram</a> </li>
            <li class="item__list-footer"><a class="link__footer"target="_blank" href="#">mastodon.social</a> </li>
            </ul>
    </nav>
    <small> 2017</small>
    
</footer>