<footer class="home-footer">
       <div class="scroll-container">
        <a class="scroll_footer" href="#"> <img class="imgscroll__footer" src="../../assets/images/ico-arrow.svg" alt="scroll up"></a>
    </div>
    <nav>
        <ul class="list__footer content">
            <li class="item__list-footer"><a class="link__footer" target="_blank" href="#"> articles</a> </li>
            <li class="item__list-footer"><a class="link__footer" target="_blank" href="#">books</a> </li>
            <li class="item__list-footer"><a class="link__footer" target="_blank" href="#"> events</a> </li>
            <li class="item__list-footer"><a class="link__footer" target="_blank" href="#"> reasons</a> </li>
            <li class="item__list-footer"><a class="link__footer" target="_blank" href="#"> tips</a> </li>
        </ul>
        <ul class="list__footer social">
            <li class="item__list-footer"><a class="link__footer"target="_blank" href="#">twitter</a> </li>
            <li class="item__list-footer"><a class="link__footer"target="_blank" href="#">instagram</a> </li>
            <li class="item__list-footer"><a class="link__footer"target="_blank" href="#">mastodon.social</a> </li>
            </ul>
    </nav>
    <small class="year">©2017</small>
    <p class="love"> we heart components<p>
</footer>