<main>
    <section class="primary-section"  id="id-primary-section">  
        <p class="subtitle__section">Insomnia Tips</p>
        <h2 class="title__section">Looking Through A Window </h2>
        <p class="text__section">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam
            nec lectus. Vivamus semper sodales rutrum.</p>
        <a class="link__section" href="#">Go</a>
    </section>
    <section class="sells-section">
        <h2 class="title__sells-section">3 Reasons To Purchase</h2>
        <div class="reason__sells-section first">  
            <h3 class="subtitle__sells-section">Ut sed metus</h3>
            <p class="text__sells-section"> Lorem ipsum dolor sit amet, consecteur.
            </p>
        </div>
        <div class="reason__sells-section second">  
            <h3 class="subtitle__sells-section">Curabitur ac erat</h3>
            <p class="text__sells-section">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reason__sells-section third">  
            <h3 class="subtitle__sells-section">Morbi dictum</h3>
            <p class="text__sells-section"> Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reason__sells-section more">
        <a class="link__sells-section" href="#">More reasons</a>
    </div>
    </section>
</main>