*, *::after, *::before{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family: $font-family;
    font-size: 16px;
    font-weight:400;
    line-height: 1.4;
    background-color: $color-whiteSnow;
    color:$color-blackBatman;
}
ul, ol {
    list-style: none;
}