.home-footer{
    background-color: $color-blueNavy;
    color: $color-whiteSnow;
    align-items: center;
}
.link__footer{
    text-decoration: none;
    color: $color-whiteSnow;
    align-items: center;
}