
.primary-section{
    // min-width: 100vw;
    height: 376px;
    padding: 30px 15px 45px 15px;
}
.subtitle__section{
    color: $color-blueLight;
    font-size: 14px;    
}
.title__section{
    font-family: $font-family-titles;
    font-size: 24px;
    margin-bottom: 15px;
    
}
.text__section{
    color: $color-greyMouse;
    margin-bottom: 30px;
    font-size: 18px;
}
.link__section{
    color: $color-orangeFanta;
    border: 1px solid $color-orangeFanta;
    height: 45px;
    width:76px;
    padding:10px 25px 10px 26px;
    border-radius: 22.5px;
    text-decoration:none;
}

.sells-section{
    background-color: $color-blueIce;
    height: 624px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(5,1fr); 
}
.title__sells-section{

}
.subtitle__sells-section{

}
.text__sells-section{

}



@media all and (min-width:768px)
{
    .sells-section{
        height: 397px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
    }
    .title__sells-section{
        grid-column-start:1;
        grid-column-end:4;
        text-align: center;
    }
}

 