$color-whiteSnow: #f3f4f5;
$color-blackBatman: black;
$color-blueLight: #8ccbea;
$color-greyMouse: #4a4a4a;
$color-orangeFanta: #f26002;
$color-blueIce: #eff9ff;

$font-family-titles: 'Roboto Slab', serif;
$font-family: 'Roboto', sans-serif;
